<% include ./components/top.inc.ejs %>
    <div>
        <%if(!amend){%>
            <form action="?" method="post">
                标题：
                <input type="text" name="title" />
                <br> 描述：
                <textarea name="description"></textarea>
                <br> 链接：
                <input type="text" name="href" />
                <br>
                <input type="submit" value="添加" />
                <br>
            </form>
        <%}else{%>
            
            <form action="?" method="post">
                    标题：
                    <input type="text" name="title" value="<%=value.title%>" />
                    <br> 描述：
                    <textarea name="description" cols="100" rows="5">
                        <%=value.description%>
                    </textarea>
                    <br> 链接：
                    <input type="text" name="href" value="<%=value.href%>" />
                    <br>
                    <input type="submit" value="修改" />
                    <br>
            </form>
        <%}%>
        <table border="1" width="80%" cellspacing='0'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>标题</th>
                    <th>描述</th>
                    <th>链接</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0;i<banners.length;i++){ %>
                    <tr>
                        <td>
                            <%=banners[i].ID%>
                        </td>
                        <td>
                            <%=banners[i].title%>
                        </td>
                        <td style="width:500px;">
                            <%=banners[i].description%>
                        </td>
                        <td>
                            <%=banners[i].href%>
                        </td>
                        <td>
                            <a href="?act=delete&id=<%=banners[i].ID%>">删除</a>
                            <a href="?act=amend&id=<%=banners[i].ID%>">修改</a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>